* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.documentation__page nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  border-bottom: 1px solid #999;
  background: #fff;
  /* z-index: 2; */
}

.doc__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  min-height: 100vh;
}

.sidebar {
  grid-row: 2/10;
  padding: 2rem;
  /* max-height: calc(100vh, - 120px); */
}

/* i am having isses making the sidebar fixed with a scroll effect on the y axiz */
.sidebar .fixed__container {
  /* border: 1px solid red; */
  /* position: fixed; */
  /* overflow-y: scroll; */
}

.sidebar aside {
  margin: 0 0 2rem;
}

.doc__heading {
  font-size: 2rem;
  color: #111;
  line-height: 1.5;
}

.sidebar ul {
  margin: 1rem;
}

.sidebar ul li {
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

.sidebar li a {
  color: #555;
  font-weight: 500;
  transition: all 0.5s;
}

.sidebar li a:hover,
.sidebar li a:active {
  color: #8b5cf6;
}

.content__window {
  background: red;
  grid-column: span 5;
  grid-row: 2/10;
}
