@import url('root.css');
@import url('components.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* or font-size: 10px; which converts rem to Base 10 */
}

body {
  line-height: 1;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

h1, 
h2, 
h3, 
h4, 
h5 {
  font-size: 6rem;
  line-height: 1.1;
  color: var(--text-main);
}

h2,
h3, 
h4, 
h5 {
  font-size: 2rem;
  margin: 2.5rem 0;
}

/* pre,  */
span, 
small, 
a,
p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--text-paragraph);
}

/* style for code - highlight.js */
pre code,
div code {
  white-space: pre-line;
}
.code-transparent{
  background-color: var(--transparent) !important;
  background: var(--transparent) !important;
}

/* 
  Standalone css style
  since this doesn't depend on any parent and can be used directly
*/
.span-heading {
  display: block;
  width: 100%;
  max-width: 50rem;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2.4rem auto;
}
.btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  margin: 0.5rem;
}
.bg-secondary {
  background: var(--bg-tint);
  color: var(--bg-primary);
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.bg-primary {
  color: #fff;
  font-weight: 600;
  background: var(--bg-primary);
  transition: var(--transition);
}
.bg-primary:hover {
  background: var(--bg-primary-hover);
}
.blur {
  position: fixed;
  width: 40rem;
  top: 10rem;
  right: 10rem;
  aspect-ratio: 1/1;
  background: rgba(0, 217, 255, 0.07);
  filter: blur(100rem);
  border-radius: 50%;
  z-index: -1;
}
/* 
  This taking from the main website only 
*/
.blur-gradiant {
  background: radial-gradient(circle at 15% 50%,#ede9fe,hsla(0,0%,100%,0) 25%),radial-gradient(circle at 85% 30%,#d8f3f6,hsla(0,0%,100%,0) 25%);
}
.svg-holder {
  width: fit-content;
  background: #f3effe;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.svg-holder svg {
  width: 2rem;
  stroke: var(--bg-primary);
}
.main-container,
.container,
.content-header {
  position: relative;
  width: 100%;
}
.content-header h2 {
  margin-bottom: 1.2rem;
}
.container {
  max-width: 100.8rem;
  margin: 0 auto;
  padding: 0 2rem;
}
/* End Standalone */

/* 
  Since tag is very important on the web
  we can always add a css name selector for styling main html tags
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--bg-white);
  padding: .9rem 5rem;
}
.navbar__logo{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  height: 3.5rem;
  object-fit: contain;
}
.navbar__logo .menu-icon{
  cursor: pointer;
}
.navbar__logo .menu-icon svg{
  width: 2.5rem;
  height: 3rem;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar__menu a {
  font-size: 1.4rem;
  transition: var(--transition);
}
.navbar__menu a:hover {
  color: var(--bg-primary);
}
/* here we select all parent (li) tag, that's not last-child, and then affect the <a> tag */
.navbar__menu li:not(:last-child) > a {
  display: inline-block;
  padding: 0 0 .2rem;
  border-bottom: var(--bg-solitude) .1rem solid;
}
.navbar__menu li:not(:last-child) > a:hover {
  border-bottom: var(--bg-primary) .1rem solid;
}
.navbar__menu .fa-solid {
  font-size: 1.1rem;
  margin-left: .3rem;
}
.navbar__menu .github__icon {
  font-size: 2.2rem;
}
.header {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 70rem;
  padding: 10rem 2rem;
  margin: 0 auto;
}
.header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: var(--bg-primary);
  padding: 1.2rem;
  margin: 0 auto;
  border-radius: 50%;
}
.header svg {
  width: 2.5rem;
  stroke: var(--bg-solitude);
}
.header h1{
  padding: 2rem 0 0;
}
header p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 2.2rem 0;
}
.cta__holder{
  position: inherit;
}
.cta__holder .copy{
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0 0 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}
.cta__holder .copy:hover{
  color: var(--bg-primary);
}
/* End of Header section */

/* features section */
.features, 
.features__highlight{
  position: relative;
}
.features__highlight h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.features {
  width: 100%;
  max-width: 100rem;
  padding: 5rem 2rem;
  text-align: left;
}
.features .heading{
  text-align: center;
}
.features .flex{
  gap: 2rem;
}
.features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: var(--bg-tint);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
/* End features section */

/* api section */
.api__section {
  padding: 10rem 2rem 5rem;
}
.api__section .text-block,
.api__section .code-block{
  position: relative;
  width: 100%;
}
.api__section .text-block span {
  width: fit-content;
  color: var(--bg-primary);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  background: var(--bg-tint);
  text-transform: uppercase;
  border-radius: 2rem;
}
.api__section .text-block a {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
  color: var(--bg-primary);
}
.api__section .code-block {
  background: var(--bg-white);
  border-radius: 1rem 1rem 3rem 3rem;
  box-shadow: var(--box-shadow-10);
}
.api__section .code-block__box {
  position: relative;
  border-top: 2.5rem solid var(--bg-tint);
  padding: 3rem;

}
.code-navigator {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background: #c40e0e;
  top: 0.6rem;
  left: 1rem;
  z-index: 1;
  border-radius: 100%;
}
.code-navigator::before,
.code-navigator::after {
  content: "";
  position: inherit;
  display: inherit;
  width: inherit;
  height: inherit;
  z-index: inherit;
  border-radius: inherit;
}
.code-navigator::before {
  background: var(--warning);
  top: 0rem;
  left: 1.5rem;
}
.code-navigator::after {
  background: var(--success);
  top: 0rem;
  left: 3.5rem;
}
/* End api section */


/* sponsors */
.sponsors{
  padding: 3rem 2rem 7rem 2rem;
  text-align: center;
}
.sponsors__brand .item img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}
/* End sponsors */


/* footer */
.footer__holder{
  position: relative;
  text-align: center;
  padding: 3rem 5rem;
  border-top: .1rem solid #e6e3e3;
}
.footer__holder .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__holder .footer .copyright span {
  font-size: 1.4rem;
  font-weight: 600;
}
.footer__holder .footer .links a {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 2rem;
}
/* End footer */

